[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
setuptools = "*"
build = "*"
varbench = {file = ".", editable = true}
pdf2image = "*"
timeout-decorator = "*"
cairosvg = "*"
datasets = "*"
huggingface-hub = "*"
pygit2 = "*"
docker = "*"
torchvision = "*"
torchaudio = "*"
outlines = "*"
attrs = "*"

[dev-packages]

[requires]
python_version = "3.11"
